body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    background-color: #222;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  /* 1. Header */
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
  }

  sup {
    font-size: 0.7em;
    color:  lightskyblue;
  }
  
  h2 {
    font-weight: bold;
    color: #fff;
    margin: 1em 0 0.5em 0;
  }
  
  h3 {
    font-weight: normal;
    color: #999;
    margin: 0.5em 0 2em 0;
  }
  
  p {
    line-height: 1.5;
    margin: 1em 0;
    color: #fff;
  }
  
  ul {
    margin: 1em auto;
  }
  
  li {
    line-height: 1.5;
    margin: 0.5em 0;
    color: #fff;
    text-align: left;
  }
  
  /* 3. Sign Up Form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
  }
  
  .contact_detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
  }
  
  label {
    margin-right: 1em;
    color: #fff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 0.5em;
    border: 0px solid #ccc;
    border-radius: 8px;
    width: 60%; /* set the same width value for all input elements */
    margin-left: auto
}
  

/* Buttons */

  button, input[type="submit"] {
    font-size: 1em;
    margin-top: 15px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #2980b9;
  }

  button.demo {
    background-color: darkgrey;
  }  

  button.demo:hover {
    background-color: grey;
  }